# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [1]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [2]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [3]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [4]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [5]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

Create a Series

In [7]:
comp_list = ['CPU', 'motherboard', 'GPU', 'RAM', 'Cooling Fan']
comp_s = pd.Series(data=comp_list)

Display

In [8]:
comp_s

0            CPU
1    motherboard
2            GPU
3            RAM
4    Cooling Fan
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [9]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [ ]:
tools.sum()

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

### Tasks

Calculate the average number of tools in stock.

In [11]:
tools.mean()

11.6

Generate descriptive statistics for the tools in stock.

In [12]:
tools.describe()

count     5.000000
mean     11.600000
std       7.536577
min       4.000000
25%       7.000000
50%       9.000000
75%      15.000000
max      23.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [13]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [14]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [15]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [16]:
restaurant_dict = {
    'Monday': 100,
    'Tuesday': 90,
    'Wednesday': 85,
    'Thursday': 95, 
    'Friday': 250, 
    'Saturday': 400, 
    'Sunday': 350
    }
restaurant = pd.Series(restaurant_dict)

With the created data series, follow the instructions below.

Display the contents of the Series.

In [17]:
restaurant

Monday       100
Tuesday       90
Wednesday     85
Thursday      95
Friday       250
Saturday     400
Sunday       350
dtype: int64

Display the total number of restaurant customers.

In [18]:
restaurant.sum()

1370

Display the median number of restaurant customers.

In [19]:
restaurant.median()

100.0

Display descriptive statistics.

In [20]:
restaurant.describe()

count      7.000000
mean     195.714286
std      136.150302
min       85.000000
25%       92.500000
50%      100.000000
75%      300.000000
max      400.000000
dtype: float64

Display the list of restaurant customers on business days.

In [21]:
restaurant['Monday':'Friday']

Monday       100
Tuesday       90
Wednesday     85
Thursday      95
Friday       250
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [22]:
restaurant['Monday':'Friday'].mean()

124.0

Display the list of restaurant customers on the weekend.

In [23]:
restaurant['Saturday':'Sunday']

Saturday    400
Sunday      350
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [24]:
restaurant['Saturday':'Sunday'].sum()

750